@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

// Typography
$family:'Ubuntu', sans-serif;
$font-family: 'Ubuntu', sans-serif;
$font-family-main: 'Ubuntu', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// custom colors

//main colors
$blue: #1dcdfe;
$l-green: #baf7e8;
$green: #34f5c5;
$d-green: #21d0b2;
$dd-green: #2f455c;
$ddd-green:#243445;
$white: #f5f5f5;
$gradient: linear-gradient(270deg, $blue 0%, $d-green 35%, $green 100%);

//transitions time
$tr-short: all 0.3s;
$tr-normal: all 0.5s;
$tr-long: all 1s;
