// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Custom
@import 'front/nav';
@import 'admin/sidebar';
@import 'shared/footer';
@import 'shared/wswg';
@import 'shared/forms';


//Global styles
html,body,#app{
  font-family: $family;
  font-style: normal;
  font-weight: $font-size-base;
  background-color: $white;
  //height: 100%;
}

.content-margin {
  @media screen and (min-width: 800px) {
    margin: 4%;
  }

}
.shadow{
  -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.6);
  box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.6);
}
.z-index-1{
  z-index: 1;
}
.z-index-2{
  z-index: 2;
}
.z-index-3{
  z-index: 3;
}
.z-index-4{
  z-index: 4;
}
.z-index-5{
  z-index: 5;
}
.vh-mh-100{
  min-height: 100vh;
}
p,h1{
  padding: 0;
  margin: 0;
}

//loader

.loader-wrapper{
  width: 100%;
  min-height: 100%;
  background-color: $white;
  position: fixed;
  z-index: 15;
  bottom: 0;
  left: 0;
  .loader {
    margin: 0 auto;
    width: 60px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);

    > div {
      height: 100%;
      width: 8px;
      display: inline-block;
      float: left;
      margin-left: 2px;
      -webkit-animation: delay 0.8s infinite ease-in-out;
      animation: delay 0.8s infinite ease-in-out;
    }

    .bar1{
      background-color: $d2-green ;
    }
    .bar2{
      background-color: $d1-green;
      -webkit-animation-delay: -0.7s;
      animation-delay: -0.7s;
    }
    .bar3{
      background-color: $green;
      -webkit-animation-delay: -0.6s;
      animation-delay: -0.6s;
    }
    .bar4{
      background-color: $green;
      -webkit-animation-delay: -0.5s;
      animation-delay: -0.5s;
    }
    .bar5{
      background-color: $d1-green;
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
    }
    .bar6{
      background-color: $d2-green;
      -webkit-animation-delay: -0.3s;
      animation-delay: -0.3s;
    }
  }


  @-webkit-keyframes delay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.05) }
    20% { -webkit-transform: scaleY(1.0) }
  }

  @keyframes delay {
    0%, 40%, 100% {
      transform: scaleY(0.05);
      -webkit-transform: scaleY(0.05);
    }  20% {
         transform: scaleY(1.0);
         -webkit-transform: scaleY(1.0);
       }
  }
}
