// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Custom
@import "shared/shared";
@import 'shared/footer';
@import 'shared/forms';
@import "shared/buttons";
@import "shared/inputs";


//Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,#app{
  font-family: $family;
  font-style: normal;
  font-weight: $font-size-base;
  background-color: $white;
  min-height: 100vh;
  scroll-behavior: smooth;
  max-width: 100vw;
}

.content-margin {
  ///@media screen and (min-width: 800px) {
    margin: 4%;
  //}

}
//.shadow{
//  -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.6);
//  box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.6);
//}
.z-index-1{
  z-index: 1;
}
.z-index-2{
  z-index: 2;
}
.z-index-3{
  z-index: 3;
}
.z-index-4{
  z-index: 4;
}
.z-index-5{
  z-index: 5;
}
.vh-mh-100{
  min-height: 100vh;
}
p,h1{
  padding: 0;
  margin: 0;
}
.w-available {
  width: -webkit-fill-available;
}
.modal-backdrop{
  background-color:#00000057;
}
.modal-open{
  overflow: hidden;
}
.tooltip{
  opacity: 1;
}
.modal-content {
  .tooltip{
    top: -65px !important;
  }
}
.arrow {
  position: absolute;
  width: 0.8rem;
  height: 0.4rem;
  border-color: transparent;
  border-style: solid;
  border-width: 0.4rem 0.4rem 0;
  border-top-color: #000;
  bottom: 1px;
  left: 45%;
}

.txt-col-white {
    color: $white;
}
.alert {
  margin-bottom: 0;
}
.color-red {
  color: $red;
}
.color-green {
  color: $green;
}
.m-none {
  margin: 0;
}
.pointer-event-none {
  pointer-events: none;
}
.notifications-container {
  min-width: 30%;
}
.radius {
  border-radius: $radius;
}
/*nav treba dat do shared*/
.navbar {
  --bs-navbar-padding-y: 0.5rem;
}
.my-10vh {
  margin: 10vh 0 !important;
}
.cursor-pointer {
  cursor: pointer;
}
.avatar-img-sm {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.d-contents {
  display: contents;
}
/*opravne rychloclassy*/
.h-fit{
  height: fit-content;
}
