footer {
    margin-top: 3rem;
    bottom: 0;
    background: $d2-green;
    height: auto;
    padding-top: 20px;
    color:$white;
    > div {
        padding: 10px;
        p {
            padding: 10px;
        }
    }
}
.footer-bottom {
    background-color: $d3-green;
}
