.footer {
    width: 100%;
    background: $mail-color-4;
    height: auto;
    padding-top: 20px;
    color:$white;
    border-radius: $radius $radius 0 0;
    > div {
        padding: 10px;
        p {
            padding: 10px;
        }
        a {
            color: white;
            &:hover {
                color: $blue;
            }
        }
    }
}
.footer-bottom {
    background-color: $main-color-3;
}
