/*checkbox toggle*/
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:$red;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2.3px;
    bottom: 1.4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}
input:checked + .slider {
  background-color: $green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21.25px);
  -ms-transform: translateX(21.25px);
  transform: translateX(21.25px);
}
.select-wrapper {
  border-bottom: 1.5px solid $white;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;

  .select {
    background-color: transparent;
    color: $white;
    border: none;
    padding: .20rem 0 .20rem .20rem;
    cursor: pointer;
    &:focus-visible {
      outline: none
    }
    option {
      background-color: $d3-green;
      color: $white;
    }
    &:hover {
      transition: 0.3s;
      color: $grey;
    }
  }
}
.card-header-select {
  right: 16px;
  position: absolute;
}
.inut-text{
  border: 1px solid $grey;
  padding: 0 10px;
  border-radius: $radius 0 0 $radius;
}
.rigth-addition {
  border-radius: 0 $radius $radius 0;
}
