/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: $main-dark-bg;
  transition: $tr-short;
  height: 100%;

  ul{

    padding: 0;
    margin: 0;
    list-style-type: none;

    li {

      a {

        padding: 12px 20px 12px 20px;
        text-decoration: none;
        color: $main-light-bg;
        display: block;

        &:hover {
          transition: $tr-short;
          background-color: $main-light-green;
          color: $main-dark-bg;
        }
      }
    }
  }
}

#sidebar.active {
    margin-left: -250px;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
        position: absolute;
        z-index: 10;
    }
    #sidebar.active {
        margin-left: 0;
        position: absolute;
    }
    #sidebarCollapse span {
        display: none;
    }
}