/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
$color: #0cf;
#sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: $d2-green;
  transition: $tr-short;
  height: 100%;
  ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      a {
          display: block;
          padding: .75rem 1.25rem;
          color: white;
          transition: all .3s;
          position: relative;
          overflow: hidden;
          z-index: 1;
          border: none;
          text-decoration: none;
          &:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #2F455C;

              z-index: -2;
          }
          &:before {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0%;
              height: 100%;
              background-color: darken($color, 15%);
              transition: all .5s;

              z-index: -1;
          }
          &:hover {
              color: #fff;
              &:before {
                  width: 100%;
              }
          }
      }
    }
  }
}

#sidebar.active {
    margin-left: -250px;
  -webkit-box-shadow: none;
  box-shadow:none;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1000px) {
    #sidebar {
        margin-left: -250px;
        position: absolute;
        z-index: 10;
    }
    #sidebar.active {
        margin-left: 0;
        position: absolute;
    }
    #sidebarCollapse span {
        display: none;
    }
}
