/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
  min-width: 250px;
  max-width: 250px;
  background-color: $d2-green;
  transition: $tr-short;
  height: 100%;
  margin-top: 56px;
  position: fixed;
  z-index: 3;
  ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      a,form {
        display: block;
        padding: .75rem 1.25rem;
        color: white;
        transition: all .3s;
        position: relative;
        overflow: hidden;
        //z-index: 1;
        border: none;
        text-decoration: none;
        i{
          padding-right: 10px;
        }
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
        }
        &:before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: $d1-blue;
            transition: all .5s;
            z-index: -1;
        }
        &:hover {
            color: #fff;
            z-index: 1;
            &:before {
                width: 100%;
            }
          }
      }
    }
    .user {
      justify-content: center;
      position: absolute;
      bottom: 65px;
      color: $white;
      width: 100%;
    }
  }
  &.active {
    margin-left: -250px;
    -webkit-box-shadow: none;
    box-shadow:none;
    &.content {
      margin-left: 0;
    }
  }
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 1000px) {
    #sidebar {
      margin-left: 0;
      z-index: 5;
      &.active {
        margin-left: -250px;
      }
      &.content {
        margin-left: 0;
      }
    }

    #sidebarCollapse span {
        display: none;
    }
}
