@import "resources/sass/app";
@import 'sidebar';
@import 'wswg';
@import 'resources/sass/shared/card';
@import 'resources/sass/teacher/teacher';
.content {
  margin-left: 250px;
  margin-top: 53px;
}
@media (max-width: 1000px) {
  .content {
    margin-left: 0px;
  }
}
.navbar {
  background: $d1-blue;
  color: $white;
  width: 100%;
  position: fixed;
  z-index: 10;
  i,a {
    color: $white;
  }
}
.active-item {
  background-color: $blue;
}

/* ---------------------------------------------------
    Members subpage styles
----------------------------------------------------- */
.table-wrapper {
  cursor: pointer;
  border-radius: $md-radius;

  .search-bar{
    border-radius: $md-radius $md-radius 0 0 ;
    background-color: $green;
    padding: 5px;

    input{
      border-radius: 0 $md-radius $md-radius 0;
      background-color: $white;
      border: none;

    }
    .search-icon{
      border-radius: $md-radius 0 0 $md-radius;
      display: inline-block;
      background-color: $white;
      padding: 5px;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;


    li {
      padding-right: 10px;
      padding-left: 10px;

      p {
        margin: 7px;
      }
    }
    .unactive-course:hover{
      transition: $tr-short;
      background-color: $d1-green;
    }
    .active-course {
      background-color: $green;
      color: $d2-green;
    }
  }
  table {
    margin: 0;
    width: 100%;
    border-radius: $md-radius;
  }
  tbody{
    tr {
      &:hover {
        background-color: $d1-green;
      }
    }
  }


  th, td {
    text-align: left;
    padding: 8px;

    a {
      color: $d1-blue;
    }
  }
  thead {
    background-color: $green;
    color: $d2-green;
  }
}

@media (max-width: 768px) {
  .table-wrapper{
    ul{
      display: block;
      li{
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}

/* ---------------------------------------------------
    Courses subpage styles
----------------------------------------------------- */
.imgUp {
  width: 40vh;
  cursor: pointer;
  label{
    background-color: #fff;
    text-align: center;
  }
  .clear-file{
    background-color: $danger;
    text-align: center;
    color: $white;
   }
}
.dynamic {
  width: 20vh;
  height: 20vh;
  object-fit: cover;
}
.imagePreview {
  width: 95%;
  margin: 2.5%;
 height: 25vh;
  background-color:#fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  border-style: dashed;
  border-width: 1px;
}

.custom-file-input {
  width: 0;
  height: 0;
  overflow: hidden;
}



.course-wrapper {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  border-radius: $md-radius;
  cursor: pointer;
  padding-top: 2%;
  padding-bottom: 2%;

  a{
    text-decoration: none;
  }
}

.course-card {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: 0.3s;

  .course-item {
    position: relative;
    overflow: hidden;

    .course-card-body {
      position: relative;
      z-index: 4;

      .course-item-body {
        display: flex;
        justify-content: center;
        padding-bottom: 3vh;
        padding-top: 3vh;
        img {
          width:  10rem;
          height: 10rem;
          object-fit: cover;
        }
      }
      .course-item-head {
        background-color: $green;
        color: $d2-green;
        text-align: center;
        padding: 1vh;
        a{
          text-decoration: none;
          color: $d2-green;
        }
        i{
          margin: 0;
        }
      }
      .course-item-footer {
        padding-top: 1vh;
        padding-bottom: 1vh;
        color: $d2-green;
        background-color: $green;
      }
    }
    .course-bg {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: all 0.5s;
      position: absolute;
      z-index: 1;
    }
    &:hover {
      .course-bg {
        transform: scale(1.2);
      }
      .course-item-head,.course-item-footer {
        background-color: $d1-green;
      }
    }
  }

}
.teacher-wrapper {
  flex-direction: row;
  .checkbox-item{
    background-color: $white;
    -webkit-box-shadow: $w-b-s;
    box-shadow: $b-s;
    margin-right: 1.5%;
    margin-left: 1.5%;
    padding: 1vh;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: $md-radius;
  }
  .active-teacher{
    background-color: $green;
  }
}

/**switch**/

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 18px;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    border-radius: 34px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:$red;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2.3px;
    bottom: 1.4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
}

input:checked + .slider {
  background-color: $d1-green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21.25px);
  -ms-transform: translateX(21.25px);
  transform: translateX(21.25px);
}

/* Rounded sliders */

.slider.round:before {
  border-radius: 50%;
}


@media screen and (max-width: 1500px) {
  .course-card {
    -ms-flex:33.3%;
    flex: 33.3%;
    max-width: 33.3%;
  }
}
@media screen and (max-width: 1200px) {
  .course-card {
    -ms-flex:50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 765px) {
  .course-card {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
/*************************************************/

/*************************************************/

/* ---------------------------------------------------
    Alerts
----------------------------------------------------- */
.toast-default{
  background-color: $d1-green;
  color: $white;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 15;
  bottom: 30px;
  left: 0;
  margin: 20px;

  i{
    margin-left: 7px;
    cursor: pointer;
  }
}
#message{
  display: none;
  position: fixed;
  z-index: 5;
  bottom: 0;
  left: 3%;
  cursor: pointer;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}


