@import "resources/sass/app";
.navbar {
  background: $gradient;
}
/* ---------------------------------------------------
    Members subpage styles
----------------------------------------------------- */
.table-wrapper {
  cursor: pointer;
  border-radius: $md-radius;

  .search-bar{
    border-radius: $md-radius $md-radius 0 0 ;
    background-color: $green;
    padding: 5px;

    input{
      border-radius: 0 $md-radius $md-radius 0;
      background-color: $white;
      border: none;

    }
    .search-icon{
      border-radius: $md-radius 0 0 $md-radius;
      display: inline-block;
      background-color: $white;
      padding: 5px;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;


    li {
      padding-right: 10px;
      padding-left: 10px;

      p {
        margin: 7px;
      }
    }
    .unactive-course:hover{
      transition: $tr-short;
      background-color: $d1-green;
    }
    .active-course {
      background-color: $green;
      color: $d2-green;
    }
  }
  table {
    margin: 0;
    width: 100%;
    border-radius: $md-radius;
  }
  tbody{
    tr {
      &:hover {
        background-color: $d1-green;
      }
    }
  }


  th, td {
    text-align: left;
    padding: 8px;
    //border: none;

    a {
      color: $d1-blue;
    }
  }



  thead {
    background-color: $green;
    color: $d2-green;
  }
}

@media (max-width: 768px) {
  .table-wrapper{
    ul{
      display: block;
      li{
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}