@import "resources/sass/app";
@import 'sidebar';
@import 'wswg';
@import 'resources/sass/shared/card';
@import 'resources/sass/teacher/teacher';
.content {
  margin-left: 249.9px;
  margin-top: 56px;
}
@media (max-width: 1000px) {
  .content {
    margin-left: 0px;
  }

}

.navbar {
  background: $main-color-3;
  color: $white;
  width: 100%;
  position: fixed;
  z-index: 6;
  justify-content: space-around;
  padding:  5px 0;
  i,a {
    color: $white;
  }
  img {
    width: 178px;
  }
}
.active-item {
  background-color: $main-color-3;
  color: $white !important;
}

/* ---------------------------------------------------
    Members subpage styles
----------------------------------------------------- */
.table-wrapper {
  cursor: pointer;
  border-radius: $radius;
  display: grid;

  .search-bar{
    border-radius: $radius $radius 0 0 ;
    background-color: $main-color-3;
    padding: 5px;

    input{
      border-radius: 0 $radius $radius 0;
      background-color: $white;
      border: none;

    }
    .search-icon{
      border-radius: $radius 0 0 $radius;
      display: inline-block;
      background-color: $white;
      padding: 5px;
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;


    li {
      padding-right: 10px;
      padding-left: 10px;

      p {
        margin: 7px;
      }
    }
    .unactive-course:hover{
      transition: $tr-short;
      background-color: $blue;
      color: $white;
    }
    .active-course {
      background-color: $main-color-3;
      color: $white;
    }
  }
  table {
    margin: 0;
    width: 100%;
  }
  tbody{
    tr {
      &:hover {
        background-color: $blue;
        color: $white;
        a {
          color: $white;
        }
        &:last-child {
          td {
            &:last-child {
              border-radius: 0 0 $radius 0;
            }
            &:first-child {
              border-radius: 0 0  0 $radius;
            }
          }
        }
      }
    }
  }


  th, td {
    text-align: left;
    padding: 8px;
    p {
      width: max-content;
      a {
        color: $blue;
      }
    }
  }
  thead {
    background-color: $main-color-3;
    color: $white;
  }
}

@media (max-width: 768px) {
  .table-wrapper{
    ul{
      display: block;
      li{
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}
/* ---------------------------------------------------
    Comunication comunication subpage styles
----------------------------------------------------- */
.modal-header {
  background-color: $main-color-3;
  color: $white;
  .bi-x-lg {
    padding-right: 6px;
    padding-left: 6px;
    cursor: pointer;
  }
  div {
    display: flex;
    h5 {
      padding-right: 2vw;
      margin: 0;
    }
    i {
      padding: 0 5px;
    }
  }
}
.moadl-f-error{
  width: 100%;
  display: flex;
  align-items: center;
}
.m-modal-body{
  position: relative;
  z-index: 5;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .loading-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    justify-content: center;
  }
  .send-mail {
    margin: auto;
    font-size: 26px;
    cursor: pointer;
    .mail-check-ico {
      position: absolute;
      left: 15px;
      top: -9px;
      color: $green;
      font-size: 20px;
    }
  }
  .msg-attachments {
    text-decoration: none;
    margin-bottom: 50px;
    .attachments-wrapper {
      display: flex;
      flex-wrap: wrap;
      div {
        margin: 1vh;
        padding: 1vh 2vh;
        background-color: $l1-grey;
        border-radius: $radius;
        a {
          text-decoration: none;
          word-break: break-all;
        }
      }

    }
  }
  .selected-items-wrapper {
    display: flex;
    flex-wrap: wrap;
    .selected-items {
      padding: 0.5vh;
      .selected-item {
        padding-left: 1.5vh;
        border: 1px solid $grey;
        border-radius: $radius;
        display: flex;
        cursor: text;
        i {
          margin-left: 1.5vh;
          padding: 0 0.5vh;
          background-color: $red;
          color: $white;
          border-radius: 0 $radius $radius 0;
          cursor: pointer;
        }
      }
    }
  }
  .search-bar-radius {
    border-radius: $radius $radius 0 0 ;
    padding: 5px;
    .search-input {
      border: 1px solid $grey;
      border-radius: $radius 0 0 $radius;
      width: 50%;
      display: flex;
      input{
        background-color: $white;
        border: none;
        padding-left: 1vh;
        width: 80%;
        &:focus {
          outline: none;
        }
      }
      .search-icon{
        border-radius: $radius 0 0 $radius;
        display: inline-block;
        background-color: $white;
        padding: 1vh 1.5vh;
        height: -webkit-fill-available;
        align-items: center;
        display: flex;
        i {
          height: fit-content;
        }
      }
      .search-focus{
        background-color: $green;
        color: $white;
      }
    }
  }
  .msg-input-wrapper{
    padding: 3vh 0;
    .msg-input {
      padding: 5px;
      label {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        input,textarea {
          border-radius: $radius;
          border: 1px solid $grey;
          padding: 1vh 2vh;
        }
      }
      .attachments {
        border-style: dashed;
        border-width: 1px;
        border-color: $grey;
        border-radius: $radius;
        background-color: white;
        flex-direction: row;
        padding: 1vh 0;
        position: relative;
        input {
          opacity: 0;
          width: 100%;
          position: absolute;
        }
        i {
          padding: 0 2vh;
        }
      }
    }
  }
  .result-wrapper {
    user-select: none;
    opacity: 1;
    position: absolute;
    width: 50%;
    top: 3.3rem;
    background-color: $white;
    color: $main-color-3;
    overflow-y: auto;
    padding: 1vh 0;
    max-height: 24rem;
    cursor: pointer;
    border: 1px solid $grey;
    border-radius: $radius;
    div {
      padding: 0 0.7vh;
      color: $black;
      &:hover{
        background-color: $green;
        color: $white;
      }
      i {
        padding-right: 0.7vh;
      }
    }
    .total-records {
      color: $d1-grey;
      text-align: center;
      cursor: inherit;
      &:hover {
        background-color: $white;
        color: #808080;
      }
    }
  }
}
.search-buttons {
  background-color: $main-color-3;
  color: $white;
  text-align: center;
  border-radius: 0 $radius $radius 0;
  .search-buttons-wrapper {
    display: flex;
    div {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 1vh;
      color: $white;
      cursor: pointer;
      &:hover {
        filter: brightness(85%);
      }
    }
    .only-active {
      background-color: $d1-green;
    }
    .all {
      background-color: $blue;
      border-radius: 0 0 $radius 0;
    }
  }
}

.modal-err-wrapper {
  width: 70%;
}
/*chat*/
.filters {
  top: 56.23px;
  position: sticky;
  z-index: 2;
  background-color: $main-color-3;
  border-radius: $radius;
  .filter-items {
    background-color: $blue;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    color: $white;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    i{
      padding-right: 5px;
    }
    &:first-child {
     border-radius: $radius  0  0 $radius;
    }
    &:hover {
      background-color: $main-color-3;
    }
  }
  .filter-active-item {
    background-color: $main-color-3;
  }
  div {
    >button {
      border-radius: 0 $radius $radius 0;
    }
  }
}

.msg-wrapper{
  border-radius: $radius;
  padding: 0.5vh 2vh;
  margin: 2vh 0;
  cursor: pointer;
  .msg-header {
    display: flex;
    align-items: center;
    .msg-icon {
      font-size: 50px;
      padding-right: 3vh;
      color: $green;
    }
    .subject-user {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  &:hover {
    background-color: $l1-grey;
    transition: $tr-short;
  }
}
.new-msg {
  border: 1px solid $main-color-3;
  .msg-icon {
    color: $blue !important;
  }
}
.from-to {
  word-break: break-all;
  .msg-subject {
    margin-right: 5vw;
  }
  .to-icon {
    padding: 0 3px;
  }
  .role-ico {
    margin-right: 4px;
  }
  .h-ico{
    margin-bottom: 0;
    padding:0 3px 5px 10px;
  }
  p {
    padding-left: 5vh;
  }
  .comma-span {
    padding-right: 3px;
  }
  .plus-another{
    padding-left: 5px;
  }
  .msg-date {
    right: 0;
    position: absolute;
  }
}
.msg-content {
  white-space: break-spaces;
  margin: 1.2rem 0;
  padding: 0 0.7rem;
  line-height: 150%;
}
/*end chat*/
@media (max-width: 991.5px) {
  .m-modal-body{
    .search-bar-radius {
      flex-direction: column-reverse;
      align-items: end;
      .search-input {
        border-radius: $radius;
        width: 100%;
        input{
          border-radius: $radius;
          width: 80%;
        }
      }
    }
    .search-buttons {
      width: 100%;
      border-radius: $radius;
      .search-buttons-wrapper {
        width: 100%;
        div{
          width: 50%;
          padding: 1vh 1.5vh;
        }
        .only-active {
          background-color: $d1-green;
          border-radius: 0 0 0 $radius;
        }
      }
    }

    .result-wrapper {
      width: 100%;
      top: 9rem;
    }
  }
  .modal-footer {
    flex-direction: column;
    .modal-err-wrapper {
      width: 100%;
    }
  }
}
@media (max-width: 392px) {
  .m-modal-body {
    .result-wrapper {
      width: 100%;
      top: 10.5rem;
    }
  }
}
/* ---------------------------------------------------
    Courses subpage styles
----------------------------------------------------- */
.launch-reg {
  display: flex;
  position: absolute;
  flex-direction: column;
  padding: 10px 0;
  background-color: $white;
  border: 1px solid $grey;
  border-radius: $radius;
  margin: 3px 0;
  top: 39px;
  right: 0;
  z-index: 5;
  user-select: none;
  .tooltip-item {
    height: 40px;
    display: flex;
    .date-item {
      display: flex;
      flex-direction: row;
      width: 100%;
      input {
        border: none;
        padding: 1vh 2vh;
        background-color: $white;
      }
      button {
        width: 30%;
        padding: 0;
        text-align: center;
      }
    }
    button {
      width: 100%;
      text-align: left;
      padding: 0 8px;
      background-color: $white;
      border: none;
      &:hover {
        background-color: $blue;
        color: $white;
      }
    }
  }
}

/* Rounded sliders */

.slider.round:before {
  border-radius: 50%;
}

@media screen and (min-width: 2000px) {
  .img-item {
    max-height: 20vh;
  }
}

@media screen and (max-width: 1500px) {
  .course-card {
    -ms-flex:33.3%;
    flex: 33.3%;
    max-width: 33.3%;
  }
}
@media screen and (max-width: 1200px) {
  .course-card {
    -ms-flex:50%;
    flex: 50%;
    max-width: 50%;
  }
  .img-item {
    min-height: 45vh;
  }
}

@media screen and (max-width: 767px) {
  .course-card {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .img-item {
    min-height: 40vh;
  }
  .image-detail {
    display: block !important;
  }
  .msg-wrapper{
    .msg-header {
      flex-direction: column;
      .msg-icon {
        font-size: 40px;
        padding-right: 0;
      }
      .from-to {
        flex-wrap: wrap;
        align-content: center;
        .msg-subject {
          margin-right: 0;
          padding-left: 0;
          margin: auto;
        }
        div{
          margin: auto;
          position: inherit !important;
          padding-left: 0 !important;
          .h-ico {
            padding: 0 5px;
          }
        }
      }
      .f-direct-c {
        flex-direction: column;
      }
    }
  }
  .filter-msg {
    display: none;
  }
}

/* HOME SUBPAGE STYLES */
.motd {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10vh;
  align-items: center;

  .info-ico-wr {
    border-radius: 50%;
    height: 44px;
    width: 44px;
    display: flex;
    align-items: center;
    background-color: $clean-white;
    cursor: pointer;
    i {
      transition: 0.3;
      font-size: 45px;
      color: $blue;
    }
    &:hover {
      i {
        color: $blue;
      }
    }
  }
}

