@import "resources/sass/app";
@import 'nav';

.front-bg {
  background-image: url("https://juniorakademia.spse-po.sk/img/main_bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 90vh;
  display: flex;
  align-items: center;
  div{
    color: $white;
  }

}

.header {
    position: relative;
    min-height: 650px;
    background: url("https://juniorakademia.spse-po.sk/img/main_bg.jpg") no-repeat center center fixed;
    background-size: cover;

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($gray-900,.60);
        color: $white;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: flex;

        .subtitle {
            font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1200 - 320)));
            font-weight: 700;
            margin-bottom: 0;
        }

        .title {
            font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (1200 - 320)));
            font-weight: bold;
        }
    }

    &.components {
        min-height: 450px !important;
        background-position: center bottom;

        .title {
            font-size: calc(40px + (90 - 40) * ((100vw - 320px) / (1200 - 320)));
            font-weight: bold;

        }
    }


    &-title {
        font-size: 2.4rem;
        font-weight: bold;
        opacity: .8;
        color: $dark;
    }

    // header mini
    &-mini {
        min-height: 24rem;
        height: 24rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem;
        background: lighten($primary, 25%) !important;
    }
}

.text_db{
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 18px;
}
.heading-center{
    margin-top: 1%;
    text-align: center;
    margin-top: 2%;
    padding-top: 1%;
}
.card_second {
    border-radius: $radius;
   margin: 8vh 15vh;
    span {
        height: fit-content;
        margin: auto auto auto 0;
        padding-left: 10px;
    }
    i {
        padding-right: 10px;
        height: fit-content;
        margin: auto 0;
        font-size: x-large;
    }
}

.marginn{
    margin-top: 1%;
}
/* Cards */
.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: $radius;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: $black;
    &.light {
        background-color: #e1e5ea;
    }
    a {
        color: inherit;
        text-decoration: none;
    }

    h1,	.h1 {
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }

    .small {
        font-size: 80%;
    }

    .postcard__title {
        font-size: 1.75rem;
    }

    .postcard__img {
        max-height: 250px;
        width: 100%;
        object-fit: cover;
        position: relative;
    }

    .postcard__img_link {
        display: contents;
    }

    .postcard__bar {
        width: 50px;
        height: 7px;
        margin: 10px 0;
        border-radius: $radius;
        background-color: #424242;
        transition: width 0.2s ease;
    }

    .postcard__text {
        padding: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .postcard__preview-txt {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        height: 100%;
    }


    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(-70deg, #424242, transparent 50%);
        opacity: 1;
        border-radius: $radius;
    }

    &:hover .postcard__bar {
       width: 110px;
    }
}

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;

        .postcard__title {
            font-size: 2rem;
        }

        .postcard__img {
            max-width: 380px;
            max-height: 100%;
            transition: transform 0.3s ease;
            background-size: cover;
            background-repeat: no-repeat;
            transition: all 0.5s;
            object-fit: cover;
            position: relative;
        }

        .postcard__text {
            padding: 3rem;
            width: 100%;
            color:$black;
        }

        .media.postcard__text:before {
            content: "";
            position: absolute;
            display: block;
            background: #18151f;
            top: -20%;
            height: 130%;
            width: 55px;
        }

        &:hover .postcard__img {
            transform: scale(1.1);
        }

        &:nth-child(2n+1) {
            flex-direction: row;
        }

        &:nth-child(2n+0) {
            flex-direction: row-reverse;

        }

        &:nth-child(2n+1) .postcard__text::before {
            left: -12px !important;

        }

        &:nth-child(2n+0) .postcard__text::before {
            right: -12px !important;

        }
    }
}
@media screen and (min-width: 1024px){
    .postcard__text {
        padding: 2rem 3.5rem;

    }

    .postcard__text:before {
        content: "";
        position: absolute;
        display: block;

        top: -20%;
        height: 130%;
        width: 55px;
    }

    .postcard.light {
        .postcard__text:before {
            background: #e1e5ea;
        }
    }
}

/* COLORS */
.postcard  .blue.play:hover {
    background: $main-blue;
}
.blue .postcard__title:hover {
    color: $main-blue;
}
.blue .postcard__bar {
    background-color: $main-blue;
}
.blue::before {
    background-image: linear-gradient(-30deg, $main-blue-rgb-015, transparent 50%);
}
.blue:nth-child(2n)::before {
    background-image: linear-gradient(30deg, $main-blue-rgb-015, transparent 50%);
}

.img_up{
    width: 100%;
    max-width: 90px;
    height: auto;
    float: left;

}

.rekt{
    display: inline-block;
    padding-right: 2vh;
}

.postcard{
    margin-bottom: 10vh;
}

.article_a{
    text-decoration: none;
}



.map-clean {
    color: #313437;
    background-color: $white2;
}

.map-clean p {
    color: #7d8285;
}

.map-clean h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
}

@media (max-width:767px) {
    .map-clean h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px;
    }
}

@media (max-width:1600px) {
    .mappa{
        margin-left: 8vh;
    }
}
@media (max-width:1500px) {
    .mappa{
        margin-left: 10vh;
        margin-right: 10vh;
    }
}
@media (max-width:1450px) {
    .mappa{
        margin-left: 10vh;
        margin-right: 10vh;
    }
}
@media (max-width:1400px) {
    .text_left{
        word-wrap: break-word;
        text-align: center


    }
}
@media (max-width:991px) {
    .mappa{
        margin-left: 0vh;
        margin-right: 0vh;
    }
}

@media (max-width:730px) {

    .card_second {
        word-break: break-word;
        margin: 3vh 4vh;
    }
}


.map-clean .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto 40px;
}

.map-clean iframe {
    background-color: $white2;
}
.text_left{
    margin-left: 3vh;
    word-wrap: break-word;
    font-size: 1.2rem;
}

.name_email{
}

.titleC {
    font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (1200 - 320)));
    font-weight: bold;
}

.overlayC {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($gray-900,.60);
    color: $white;
    padding-left: 5vh;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.contentC{
    margin-top: 5vh;
    padding-bottom: 3vh;
    padding-left: 2vh;
    padding-right: 2vh;

}

.content_center{
    padding-bottom: 3vh;

}

.headerC{
    position: relative;
    min-height: 650px;
    background-size: cover;
}
//********LOGIN*******//

.special-height {
    min-height: 78.1vh;
}