@import "resources/sass/app";
@import 'nav';
@import 'resources/sass/shared/card';

.header {
    position: relative;
    height: 100vh;
    background-image: url("https://juniorakademia.spse-po.sk/img/main_bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center -58.5px;
    //transition: background-position 0.1s ease-out;

    .overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($gray-900,.60);
        color: $white;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        display: flex;


        .subtitle {
            font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1200 - 320)));
            font-weight: 700;
            margin-bottom: 0;
        }

        .title {
            font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (1200 - 320)));
            font-weight: bold;
            margin: 1vh 0;
        }
    }

    &.components {
        min-height: 450px !important;
        background-position: center bottom;

        .title {
            font-size: calc(40px + (90 - 40) * ((100vw - 320px) / (1200 - 320)));
            font-weight: bold;

        }
    }


    &-title {
        font-size: 2.4rem;
        font-weight: bold;
        opacity: .8;
        color: $dark;
    }

    // header mini
    &-mini {
        min-height: 24rem;
        height: 24rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 1rem;
        background: lighten($primary, 25%) !important;
    }
}
.header-h-75 {
    height: 75vh;
}

.text_db{
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    font-size: 18px;
}
.heading-center{
    margin-top: 1%;
    text-align: center;
    margin-top: 2%;
    padding-top: 1%;
}
.card_second {
    background-color: $clean-white;
    padding: 8vh 8vw 0 8vw;
    word-break: break-word;
    span {
        height: fit-content;
        margin: auto auto auto 0;
        padding-left: 10px;
    }
    i {
        padding-right: 10px;
        height: fit-content;
        margin: auto 0;
        font-size: x-large;
    }
}

.marginn{
    margin-top: 1%;
}
.titleC {
    font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (1200 - 320)));
    font-weight: bold;
}

.overlayC {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba($gray-900,.60);
    color: $white;
    padding-left: 5vh;
    flex-direction: column;
    justify-content: center;
    display: flex;
}

.contentC{
    margin-top: 5vh;
    padding-bottom: 3vh;
    padding-left: 2vh;
    padding-right: 2vh;

}

.content_center{
    padding-bottom: 3vh;

}

.headerC{
    position: relative;
    min-height: 650px;
    background-size: cover;
}
//********LOGIN*******//

.special-height {
    min-height: 78.1vh;
}

@media (max-width:576px) {
    .img_up{
        width: 90px;
        height: 90px;
    }
.postcard__text{
    width: 100%;
}

    }
@media (max-width:406px) {
 .subtitle{
     text-align: center;
 }

}
@media (max-width:225px) {
    .title{
        text-align: center;
    }

}

/****CONTACT****/
.contact-wrapper {
    margin: 10vh 0;
    min-height: 58vh;
    .contact-map {
        width: 50vw;
        .map-wrapper {
            background-color: $clean-white;
            border-radius: $radius;
            .map-header {
                h2 {
                    margin: 0;
                    padding: 25px 0;
                }
            }
            iframe {
                min-height: 50vh;
            }
        }
    }
    .contact-text {
        padding: 5vh 2vh;
    }
}

@media screen and (max-width: 1195px) {
    .header {
        background-size: 150%;
    }
    .contact-wrapper {
        flex-direction: column;
        margin: 10vh 10%;
        div {
            width: 100% !important;
        }
    }
}
@media screen and (max-width: 750px) {
    .header {
        background-size: 250%;
    }
}
@media screen and (max-width: 450px) {
    .header {
        background-size: 400%;
    }
    .contact-wrapper {
        flex-direction: column;
        margin: 10vh 1%;
    }
}
/***Gallery***/
.grid-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.grid-item {
    flex-basis: calc(25% - 20px); /* Set the flex-basis to one-third minus margin */
    max-width: calc(25% - 20px);
    margin: 25px 10px;
    box-sizing: border-box;
    border-radius: $radius;
    position: relative;
    height: 500px;
    .course-name {
        z-index: 1;
        top: -40px;
    }
}
.card-date{
    color: $black;
}

@media screen and (max-width: 1200px) {
    .grid-item {
        flex-basis: calc(33.33% - 20px); /* Set the flex-basis to one-half minus margin */
        max-width: calc(33.33% - 20px);
    }
}

@media screen and (max-width: 991px) {
    .grid-item {
        flex-basis: calc(50% - 20px); /* Set the flex-basis to one-half minus margin */
        max-width: calc(50% - 20px);
    }
}

@media screen and (max-width: 768px) {
    .grid-container {
        margin: 0 10vw;
        justify-content: center;
        .grid-item {
            flex-basis: calc(100% - 20px); /* Set the flex-basis to one-half minus margin */
            max-width: calc(100% - 20px);
            &:first-child {
                margin: 10px;
            }
            &:last-child {
                margin: 10px;
            }
        }
    }
}
@media screen and (max-width: 480px) {
    .grid-container {
        margin: 0;
    }
}

.album-grid-item {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    padding: 7px;
    display: flex;
    flex-direction: column;
    .album-img {
        height: 210px;
        position: relative;
        overflow: hidden;
        border-radius: $radius;
        .album-count {
            position: absolute;
            top: 0;
            padding: 3px 5px;
            background: rgba($gray-900,.60);
            color: $white;
            font-size: 18px;
            border-radius:  $radius ;
        }
        img {
            width: 100%;
            height: inherit;
            object-fit: cover;
            transition: transform 0.3s ease-out;
        }
    }
    .album-text {
        word-break: break-word;
        color: black;
        h4 {
            text-align: center;
            margin: 12px 5px;
        }
    }
    .album-footer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: flex-end;
    }
    &:hover {
        img {
            transform: scale(1.3);
        }
    }
}
.gallery-wrapper {
    .a-wrapper-head {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px 0;
        h3 {
            margin: 0;
            text-align: center;
        }
        hr {
            width: 500px;
            margin: 1rem 10px;

        }
    }

    //.album-hr {
    //    margin: 1rem auto 2rem auto;
    //    width: 90%;
    //}
    //.album-hr:last-of-type {
    //   display: none;
    //}
}
/*album header*/
.album-header {
    margin: 2vh 0;
    h3,p {
        word-break: break-word;
        margin-bottom: 0.5rem;
    }
}


